@using System.Net.Http;
@using Newtonsoft.Json;
@using NET_Advanced.Areas.Identity.Data;
@model List<NET_AdvancedUser>
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NET_Advanced.Resources.Resource> Localizer;

<h1>@Localizer["UserlistPageTitle"]</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["UserlistPageUsernameHeader"]</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Gn.</p>
}

<p>
    <a href="@Url.Action("Create", "Admin")">@Localizer["Delete"]</a>
</p>