@model IEnumerable<NET_Advanced.Models.ProductModel>
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NET_Advanced.Resources.Resource> Localizer;

<h1>@Localizer["Products"]</h1>

@if (User.IsInRole("Admin")) 
{
    <p>
        <a asp-action="Create">@Localizer["Create"]</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <p>@Localizer["Name"]</p>
            </th>
            <th>
                <p>@Localizer["Price"]</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
