@model IEnumerable<NET_Advanced.Models.KlantModel>
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NET_Advanced.Resources.Resource> Localizer;

<h1>@Localizer["Customers"]</h1>

<p>
    <a asp-action="Create">@Localizer["CreateNewCustomer"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>@Localizer["Name"]</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-controller="BestellingModels" asp-action="Index" asp-route-id="@item.Id">@Localizer["Orders"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>   
}
    </tbody>
</table>