@model NET_Advanced.Models.BestellingModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NET_Advanced.Resources.Resource> Localizer;

<h1>@Localizer["Create"]</h1>

<h4 style="display:inline;">@Localizer["OrderPageAddNewOrderByClient"]</h4>
<h4 style="display:inline;">@ViewData["KlantNaam"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" asp-route-klantId="@Model.KlantId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>@Localizer["OrderPageAddNewOrderTableHeader"]</label>
                @if (ViewBag.Producten != null)
                {
                    var producten = ViewBag.Producten as IEnumerable<NET_Advanced.Models.ProductModel>;

                    if (producten != null && producten.Any())
                    {
                        @foreach (var product in producten)
                        {
                            <div class="form-group">
                                <label>@product.Naam</label>
                                <input type="number" name="Producten[@product.Id]" class="form-control"/>
                            </div>
                        }
                    }
                    else
                    {
                        <p>@Localizer["IfNoProducts"]</p>
                    }
                }
                else
                {
                    <p>@Localizer["IfNoProducts"]</p>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}