@model NET_Advanced.Models.BestellingModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NET_Advanced.Resources.Resource> Localizer;

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["DeleteWarning"]</h3>
<div>
    <h4>BestellingModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["BackToList"]</a>
    </form>
</div>
