@model NET_Advanced.Models.BestellingModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NET_Advanced.Resources.Resource> Localizer;

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["DeleteWarning"]</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt class="col-sm-2">
            @Localizer["Customer"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>
    </dl>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.KlantId">@Localizer["BackToList"]</a>
    </form>
</div>
